/*Author: Bertrand Domat
Contact: contact@bd-web.fr
Project: Eastcoders
Version: 0.0.3
*/
/*General*/
body{
    width :100%;
    background-color: #ffffff;
    font-size: 16px;
}
a, a:hover{
    color: #D90AA0;
}
.divider{
    background: #D90AA0;
    width: 150px;
    height: 4px;
    margin: 10px 0px 30px 0px;
}

/*Header*/
.header-nav{
    background-color: #34495e;
}

.navbar-collapse{
    justify-content: end;
}

/*Content*/
.main-title{
    background-image: url("../img/bg-main-title.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    color: #ffffff;
}
.main-title h1{
    text-transform: capitalize;
}
.intro{
    text-align: center;
}
.reassurance{
    background-color: #f0f0f0;
    color: #34495e;
    font-weight: 500;
    font-size: 1.2rem;
}
.reassurance p{
    font-weight: 400;
}

.reassurance-ico{
    background-color: #ffffff;
    color: #34495e;
    border-radius: 60px;
    font-size: 2rem;
    padding: 30px 27px;
    margin-bottom: 10px;
    border: 3px solid #D90AA0;
    box-shadow: 0px 0px 5px #6c6a6a;
}
#reassurance-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0px;
}
.illustration{
    max-width: 100%;
}

/*Footer*/

footer{
    background: #34495e;
    color: #ffffff;
    text-align: center;
}
footer a, footer a:hover{
    text-decoration: none;
}